@import-normalize;

body {
  margin: 0;
  color: #717171;
  font-family: "Open Sans", sans-serif;
}

/**
 * Add the correct display in IE 9-.
 */

 audio,
 video {
   display: inline-block;
 }
 
 /**
  * Remove the border on images inside links in IE 10-.
  */
 
 img {
   border-style: none;
 }

 ul,
 li {
   list-style: none;
 }

 a {
   text-decoration: none;
 }