// devices resolution
$max-resolution: 1200px;
$x-large-resolution: 1920px;
$m-large-resolution: 1441px;
$large-resolution: 1025px;
$x-large-resolution: 960px;
$medium-resolution: 769px;
$x-medium-resolution: 479px;
$small-resolution: 425px;
$x-small-resolution: 321px;